h1{
    text-align: center;
    color: blue;
    font-style: oblique;
    
}
h2{
  text-align: center;
  color:rgba(16, 33, 105, 0.581);
  font-size: 250%;
}
h3{
    text-align: center;
    color: black;
}

.nav{
  background-color: yellowgreen;
    padding: 6px;
    border-radius: 5px;
    color: black;
    text-decoration: none;
    border-color: gray;
    border-style: solid;
  }

  header{
    background-color: rgb(91, 175, 232);
    border-color: blue;
    border-style: solid;
  }

  .foo{
    background-color: yellowgreen;
    padding: 3px;
    border-radius: 5px;
    text-align: center;
    color: black;
    border-color: gray;
    border-style: solid;
  }

  footer{
    border-color: blue;
    border-style: solid;
  }
 
  body{
    background-color: rgb(15, 145, 231);
    border-style: solid;
    border-color: slategray;
  }